{
    "OP5":{
        "LIST_QUERIES":[
            {
                "USERPWD": "api$Default:api",
                "HOST": "https:\/\/YOUR.OP5.URL",
                "API": "\/api\/filter\/query?format=json&query=",
                "FILTERS": {
                    "demo": {
                        "FILTER": "[hosts]name~~\"demo*\"",
                        "COLUMNS": { 
                            "NAME": "name",
                            "ADDRESS": "address"
                        },
                        "HOST_VARS":{
                            "ansible_port": 22,
                            "ansible_host": "ADDRESS" 
                        },
                        "LIMIT": null,
                        "OFFSET": null
                    }
                },
                "GROUP_VARS":[]
            }
        ],
        "HOST_QUERIES":[
            {
                "USERPWD":"api$Default:aipi",
                "HOST":"https:\/\/YOUR.OP5.URL",
                "API":"\/api\/filter\/query?format=json&query=",
                "QUERY":"[hosts]name= {HOST}",
                "COLUMNS": { 
                    "NAME": "name",
                    "ADDRESS": "address"
                },
                "VARS":{
                    "ansible_port":[22,22022],
                    "ansible_host":"ADDRESS"
                }
            }
        ]
    }
}