{
    "op5":{
        "list_query":[
            {
                "userpwd": "api$Default:api",
                "host": "https:\/\/YOUR.OP5.URL",
                "api": "\/api\/filter\/query?format=json&query=",
                "filters": {
                    "demo": {
                        "filter": "[hosts]name~~\"demo*\"",
                        "columns": { 
                            "NAME": "name",
                            "ADDRESS": "address"
                        },
                        "host_vars":{
                            "ansible_port": 22,
                            "ansible_host": "ADDRESS" 
                        },
                        "limit": 10,
                        "offset": null,
                        "group_vars": {
                            "var1": true
                        },
                        "children": []
                    }
                }
            }
        ],
        "host_query":[
            {
                "userpwd":"api$Default:aipi",
                "host":"https:\/\/YOUR.OP5.URL",
                "api":"\/api\/filter\/query?format=json&query=",
                "filter":"[hosts]name= {host}",
                "columns": { 
                    "NAME": "name",
                    "ADDRESS": "address"
                },
                "host_vars":{
                    "ansible_port":[22,22022],
                    "ansible_host":"ADDRESS"
                }
            },
        ]
    }
}